<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

  <!-- TOP NAV -->
  <header id="topNav">
    <div class="container">

      <!-- Mobile Menu Button -->
      <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
      </button>

      <!-- Logo -->
      <%= link_to index_path, class: "logo float-left" do %><%= image_tag("logo.jpeg", alt: "Rocket Elevators Logo")%><% end %>
        
      <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
        <nav class="nav-main">

          <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
            <!-- HOME -->
              <li> <%= link_to 'HOME'.html_safe, index_path(anchor: "home") %> </li>
            <!-- SERVICES -->
              <li> <%= link_to 'SERVICES'.html_safe, index_path(anchor: "services") %> </li>
            <!-- PORTFOLIO -->
              <li class="nav-item dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#portfolio"> PORTFOLIO </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><%= link_to 'Overview'.html_safe, anchor: "portfolio" %></li>
                  <li class="dropdown-item divider"></li>
                  <li class="dropdown-item"><%= link_to 'Residential Projects'.html_safe, residential_path %></li>
                  <li class="dropdown-item divider"></li>
                  <li class="dropdown-item"><%= link_to 'Corporate Projects'.html_safe, corporate_path %></li>
                </ul>
              </li>
            <!-- NEWS -->
                <li> <%= link_to 'NEWS'.html_safe, index_path(anchor: "news") %> </li>
            <!-- CLIENTS -->
                <li> <%= link_to 'CLIENTS'.html_safe, index_path(anchor: "clients") %> </li>
            <!-- SUBMISSION FORM -->
                <li> <%= link_to 'SUBMISSION'.html_safe, submissionform_path %></li>
            <!-- CONTACT -->
                <li> <%= link_to 'CONTACT'.html_safe, index_path(anchor: "contact") %> </li>
            <!-- CONNECT -->
              <% if !current_user %>
                <li><%= link_to "LOGIN", new_user_session_path %></li>
                <li><%= link_to "SIGN UP", new_user_registration_path %></li>
              <% elsif current_user.has_role? :admin %>
                <li><%= link_to "ADMIN PANEL", rails_admin_path %> </li>
                <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "PROFILE", edit_user_registration_path %></li>
                <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
              <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>

<div class="container">

  <h1 class="mb-10 mt-10"><%= t('.sign_up') %></h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= bootstrap_devise_error_messages! %>



    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, :autofocus => true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :company %>
      <%= f.text_field :company, :autofocus => true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>

      <% if @minimum_password_length %>
        <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render 'devise/shared/links' %>
</div>
