<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
		<title>Rocket Elevators</title>
		<meta name="description" content="Projet Genesis" />
		<meta name="Author" content="David Amyot" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

	</head>

	<body class="smoothscroll enable-animation font-roboto">
		<div id="wrapper">

			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="#top"> <%= image_tag("logo.jpeg", alt: "Rocket Elevators Logo") %> </a>
							
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<!-- HOME -->
										<li class="active"> <%= link_to 'HOME'.html_safe, anchor: "home" %> </li>
									<!-- SERVICES -->
										<li> <%= link_to 'SERVICES'.html_safe, anchor: "services" %> </li>
									<!-- PORTFOLIO -->
										<li class="nav-item dropdown">
											<a class="dropdown-toggle" data-toggle="dropdown" href="#portfolio"> PORTFOLIO </a>
											<ul class="dropdown-menu">
												<li class="dropdown-item"><%= link_to 'Overview'.html_safe, anchor: "portfolio" %></li>
												<li class="dropdown-item divider"></li>
												<li class="dropdown-item"><%= link_to 'Residential Projects'.html_safe, residential_path %></li>
												<li class="dropdown-item divider"></li>
												<li class="dropdown-item"><%= link_to 'Corporate Projects'.html_safe, corporate_path %></li>
											</ul>
										</li>
									<!-- NEWS -->
										<li> <%= link_to 'NEWS'.html_safe, anchor: "news" %> </li>
									<!-- CLIENTS -->
										<li> <%= link_to 'CLIENTS'.html_safe, anchor: "clients" %> </li>
									<!-- SUBMISSION FORM -->
										<li> <%= link_to 'SUBMISSION'.html_safe, submissionform_path %></li> 
									<!-- CONTACT -->
										<li> <%= link_to 'CONTACT'.html_safe, anchor: "contact" %> </li>
									

									<!-- CONNECT -->
									<% if !current_user %>
										<li><%= link_to "LOGIN", new_user_session_path %></li>
										<li><%= link_to "SIGN UP", new_user_registration_path %></li>
									<% elsif current_user.has_role? :admin %>
									<!-- INTERVENTIONS -->
										<li> <%= link_to 'INTERVENTIONS'.html_safe, interventions_path %> </li>
										<li><%= link_to "ADMIN PANEL", rails_admin_path %> </li>
										<li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
									<% elsif current_user.has_role? :employee %>
									<!-- INTERVENTIONS -->
										<li> <%= link_to 'INTERVENTIONS'.html_safe, interventions_path %> </li>
										<li><%= link_to "ADMIN PANEL", rails_admin_path %> </li>
										<li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
									<% else %>
										<li><%= link_to "PROFILE", edit_user_registration_path %></li>
										<li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
									<% end %>
								</ul>
							</nav>
						</div>
					</div>
				</header>
			</div>

<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
				<div id="home" class="fullwidthbanner" data-height="500" data-shadow="1" data-navigationStyle="preview3">
					<ul class="hide">
					
				<!-- SLIDER 1  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Services">
							
						<%= image_tag("slider1.jpeg", alt: "cover image") %>
						
							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								data-delay="1000"
								style="color:#fff; font-size:80px; line-height:130px; letter-spacing:0; text-shadow:none;">
									Fast, secure, beautiful. <br>
									<i>Rocket Elevators</i>
							</div>

							<!-- SERVICES BUTTON -->
							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="400" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-warning btn-lg btn-colored-primary" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
							
							<!-- SUBMISSION BUTTON -->
							<div class="tp-caption sfb tp-resizeme"
								data-x="250"
								data-y="400" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
									<%= link_to 'REQUEST A SUBMISSION &nbsp; <i class="fa fa-angle-right"></i>'.html_safe, submissionform_path, class: "btn btn-default btn-lg btn-colored-secondary" %>
							</div>
						</li>

				<!-- SLIDER 2  -->

						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Residential Projects">
						<%= image_tag("slider2.jpeg", alt: "cover image") %>

							<div class="overlay dark-4"></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="center"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="color:#fff; font-size:65px; line-height:85px; letter-spacing:0; text-shadow:none;">
									Residential Building Services
							</div>

							<!-- RESIDENTIAL SERVICES BUTTON -->
							<div class="tp-caption sfb tp-resizeme"
								data-x="430"
								data-y="250" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<%= link_to 'SHOW RESIDENTIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i>'.html_safe, residential_path, class: "btn btn-services-david btn-lg btn-colored-primary" %>
							</div>
						</li>

				<!-- SLIDER 3  -->

						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Corporate Projects">
							<%= image_tag("slider3.jpeg", alt: "cover image") %>

							<div class="overlay dark-4"></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="center"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; letter-spacing:0; text-shadow:none;">
									Corporate Building Services
							</div>

							<!-- CORPORATE SERVICES BUTTON -->
							<div class="tp-caption sfb tp-resizeme"
								data-x="430"
								data-y="250" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<%= link_to 'SHOW CORPORATE SERVICES &nbsp; <i class="fa fa-angle-right"></i>'.html_safe, corporate_path, class: "btn btn-services-david btn-lg btn-colored-primary" %>
							</div>
						</li>

					</ul>

				</div>
			</div>

			<hr class="m-0" />

			<!-- BUTTON CALLOUT -->
			<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40 pt-0 mt-0 btn-colored-ribbon">
				<span class="font-lato fs-30">
					Not yet convinced by Rocket Elevators?
					<strong>Contact us &raquo;</strong>
				</span>
			</a>
			
<!-- SERVICES -->
			<section id="services" class="pb-0">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">
							<a href="#portfolio">
									<%= image_tag("mainawards.jpeg", class: "img-services-centered", alt: "Awards image") %>
									<div class="mt-10 text-services-centered">Our Awards and Projects</div>
							</a>
						</div>

						<div class="col-sm-4">
							<a href="residential.html">
									<%= image_tag("mainresidential.jpeg", class: "img-services-centered", alt: "Awards image") %>
									<div class="mt-10 text-services-centered">Our Residential Services</div>
							</a>
						</div>

						<div class="col-sm-4">
							<a href="corporate.html">
									<%= image_tag("maincorporate.jpeg", class: "img-services-centered", alt: "Awards image") %>
									<div class="mt-10 text-services-centered">Our Corporate Services</div>
							</a>
						</div>
					</div>

				</div>
			</section>

<!-- RIBBON -->
			<section class="parallax parallax-1" style="background-image: url(<%= asset_path "ribbon.jpeg" %>)">
				<div class="overlay dark-5"></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-300"><i><b>Rocket Elevators</i></b>, delivering the highest quality since 1982.</h2>
						<a class="btn btn-warning btn-lg btn-colored-primary" href="#contact">CONTACT US &nbsp; <i class="fa fa-angle-right"></i></a>
						&nbsp; OR &nbsp; 
						<%= link_to 'REQUEST A SUBMISSION &nbsp; <i class="fa fa-angle-right"></i>'.html_safe, submissionform_path, class: "btn btn-default btn-lg btn-colored-secondary" %>
					</div>


				</div>
			</section>

<!-- PORTFOLIO -->
			<section id="portfolio">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>All Winning Awards And Projects</h2>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
							<li data-filter="all" class="filter active" id="all-david"><a href="#">All</a></li>
							<li data-filter="awards" class="filter" id="awards"><a href="#">Awards</a></li>
							<li data-filter="residential-projects" class="filter" id="residential-projects"><a href="#">Residential Projects</a></li>
							<li data-filter="corporate-projects" class="filter" id="corporate-projects"><a href="#">Corporate Projects</a></li>
						</ul>
					</div>

				</div>

				<div class="row mix-grid">

<!-- ALL WINNING AWARDS AND PROJECTS SECTION -->

						<!-- WINNING AWARD #1 -->
							<div class="col-md-3 col-sm-3 mix awards">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<a class="ico-rounded lightbox" href="assets/images/award1.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<%= image_tag("award1.jpeg", class: "img-fluid h-200", width: "600", height: "399", alt: "Picture of award #1") %>
									</figure>

									<div class="item-box-desc">
										<h3>The Grammys Award 2017</h3>
										<ul class="list-inline categories m-0">
											<li><a data-filter="awards" class="filter" href="#awards">Awards</a></li>
										</ul>
									</div>

								</div>

							</div>

						<!-- WINNING AWARD #2 -->
							<div class="col-md-3 col-sm-3 mix awards">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<a class="ico-rounded lightbox" href="assets/images/award2.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<%= image_tag("award2.jpeg", class: "img-fluid h-200", width: "600", height: "399", alt: "Picture of award #2") %>
									</figure>
									<div class="item-box-desc">
										<h3>The Oscar Award 2018</h3>
										<ul class="list-inline categories m-0">
											<li><a data-filter="awards" class="filter" href="#awards">Awards</a></li>
										</ul>
									</div>

								</div>

							</div>

						<!-- WINNING AWARD #3 -->
							<div class="col-md-3 col-sm-3 mix awards">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<a class="ico-rounded lightbox" href="assets/images/award3.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<%= image_tag("award3.jpeg", class: "img-fluid h-200", width: "600", height: "399", alt: "Picture of award #3") %>
									</figure>
									<div class="item-box-desc">
										<h3>The National Award 2018</h3>
										<ul class="list-inline categories m-0">
											<li><a data-filter="awards" class="filter" href="#awards">Awards</a></li>
										</ul>
									</div>

								</div>

							</div>

						<!-- WINNING AWARD #4 -->
							<div class="col-md-3 col-sm-3 mix awards">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<a class="ico-rounded lightbox" href="assets/images/award4.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<%= image_tag("award4.jpeg", class: "img-fluid h-200", width: "600", height: "399", alt: "Picture of award #4") %>
									</figure>
									<div class="item-box-desc">
										<h3>The Elevators Stanley Cup 2020</h3>
										<ul class="list-inline categories m-0">
											<li><a data-filter="awards" class="filter" href="#awards">Awards</a></li>
										</ul>
									</div>

								</div>

							</div>

				<!-- RESIDENTIAL PROJECTS SECTION -->

						<!-- RESIDENTIAL PROJECT #1 -->
							<div class="col-md-3 col-sm-3 mix residential-projects">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<a class="ico-rounded lightbox" href="assets/images/res-elevator1.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<%= image_tag("res-elevator1.jpeg", class: "img-fluid h-200", width: "600", height: "399", alt: "Picture of residential project #1") %>
									</figure>
									<div class="item-box-desc">
										<h3>Frankeinstein's Laboratory</h3>
										<ul class="list-inline categories m-0">
											<li><a data-filter="residential-projects" class="filter" href="#residential-projects">Residential Projects</a></li>
										</ul>
									</div>
								</div>
							</div>

						<!-- RESIDENTIAL PROJECT #2 -->
							<div class="col-md-3 col-sm-3 mix residential-projects">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<a class="ico-rounded lightbox" href="assets/images/res-elevator2.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<%= image_tag("res-elevator2.jpeg", class: "img-fluid h-200", width: "600", height: "399", alt: "Picture of residential project #2") %>
									</figure>
									<div class="item-box-desc">
										<h3>Spiderman's Web-House</h3>
										<ul class="list-inline categories m-0">
											<li><a data-filter="residential-projects" class="filter" href="#residential-projects">Residential Projects</a></li>
										</ul>
									</div>
								</div>
							</div>

						<!-- RESIDENTIAL PROJECT #3 -->
							<div class="col-md-3 col-sm-3 mix residential-projects">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<a class="ico-rounded lightbox" href="assets/images/res-elevator3.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<%= image_tag("res-elevator3.jpeg", class: "img-fluid h-200", width: "600", height: "399", alt: "Picture of residential project #3") %>
									</figure>
									<div class="item-box-desc">
										<h3>Superman's Leave-Me-Alone House</h3>
										<ul class="list-inline categories m-0">
											<li><a data-filter="residential-projects" class="filter" href="#residential-projects">Residential Projects</a></li>
										</ul>
									</div>
								</div>
							</div>

						<!-- RESIDENTIAL PROJECT #4 -->
							<div class="col-md-3 col-sm-3 mix residential-projects">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<a class="ico-rounded lightbox" href="assets/images/res-elevator4.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<%= image_tag("res-elevator4.jpeg", class: "img-fluid h-200", width: "600", height: "399", alt: "Picture of residential project #4") %>
									</figure>
									<div class="item-box-desc">
										<h3>Batman's Batcave</h3>
										<ul class="list-inline categories m-0">
											<li><a data-filter="residential-projects" class="filter" href="#residential-projects">Residential Projects</a></li>
										</ul>
									</div>
								</div>
							</div>


				<!-- CORPORATE PROJECTS SECTION -->

						<!-- CORPORATE PROJECT #1 -->
							<div class="col-md-3 col-sm-3 mix corporate-projects">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<a class="ico-rounded lightbox" href="assets/images/corp-elevator1.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
										<%= image_tag("corp-elevator1.jpeg", class: "img-fluid h-200", width: "600", height: "399", alt: "Picture of corporate project #1") %>
									</figure>
									<div class="item-box-desc">
										<h3>The One World Trade Center</h3>
										<ul class="list-inline categories m-0">
											<li><a data-filter="corporate-projects" class="filter" href="#corporate-projects">Corporate Projects</a></li>
										</ul>
									</div>
								</div>
							</div>

						<!-- CORPORATE PROJECT #2 -->
							<div class="col-md-3 col-sm-3 mix corporate-projects">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<a class="ico-rounded lightbox" href="assets/images/corp-elevator2.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a> 
											</span>
										</span>
											<%= image_tag("corp-elevator2.jpeg", class: "img-fluid h-200", width: "600", height: "399", alt: "Picture of corporate project #2") %>
									</figure>
									<div class="item-box-desc">
										<h3>The Burj Khalifa</h3>
										<ul class="list-inline categories m-0">
											<li><a data-filter="corporate-projects" class="filter" href="#corporate-projects">Corporate Projects</a></li>
										</ul>
									</div>
								</div>
							</div>

						<!-- CORPORATE PROJECT #3 -->
							<div class="col-md-3 col-sm-3 mix corporate-projects">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<a class="ico-rounded lightbox" href="assets/images/corp-elevator3.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
											<%= image_tag("corp-elevator3.jpeg", class: "img-fluid h-200", width: "600", height: "399", alt: "Picture of corporate project #3") %>
									</figure>
									<div class="item-box-desc">
										<h3>The Shanghai Tower</h3>
										<ul class="list-inline categories m-0">
											<li><a data-filter="corporate-projects" class="filter" href="#corporate-projects">Corporate Projects</a></li>
										</ul>
									</div>
								</div>
							</div>

						<!-- CORPORATE PROJECT #4 -->
							<div class="col-md-3 col-sm-3 mix corporate-projects">
								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
												<a class="ico-rounded lightbox" href="assets/images/corp-elevator4.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
											<%= image_tag("corp-elevator4.jpeg", class: "img-fluid h-200", width: "600", height: "399", alt: "Picture of corporate project #4") %>
									</figure>
									<div class="item-box-desc">
										<h3>The Lotte Tower</h3>
										<ul class="list-inline categories m-0">
											<li><a data-filter="corporate-projects" class="filter" href="#corporate-projects">Corporate Projects</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
			</section>

<!-- EMPLOYEE OF THE MONTH SECTION -->

			<section class="section-xs dark p-15">
				<div class="container">
					<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div class="testimonial">
							<figure>
								<%= image_tag("ceo.jpeg", class: "rounded", alt: "Picture of the company's CEO") %>
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Thomas Carrier</p>
								<cite>
									Chief Executive Officer
									<span>Rocket Elevators Ltd.</span>
								</cite>
							</div>
						</div>
						<div class="testimonial">
							<figure>
							<%= image_tag("employeeofthemonth.jpeg", class: "rounded", alt: "Picture of the employee of the month") %>
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">David Amyot</p>
								<cite>
									Employee Of The Month
									<span>Rocket Elevators Ltd.</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>

<!-- NEWS SECTION -->

			<section id="news" class="pb-0">
				<div class="container">
					<div class="heading-title heading-dotted text-center">
						<h2>Recent News</h2>
					</div>
					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						
				<!-- NEWS #1 -->
						<div class="img-hover">
							<a href="https://www.fox19.com/2020/01/29/elevator-issues-cancels-visitation-hamilton-county-justice-center/" target="_blank">
								<%= image_tag("news-elevator1.jpeg", class: "img-fluid h-200", alt: "Picture #1 of recent elevator-related news") %>
							</a>
							<h4 class="text-left mt-20"><a href="https://www.fox19.com/2020/01/29/elevator-issues-cancels-visitation-hamilton-county-justice-center/">Elevator Issues With Inmates</a></h4>
							<p class="justify">Inmate visitation in the south building of the Hamilton County Justice Center is canceled because elevators are out of service, the...</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									30th Jan 2020
								</li>
							</ul>
						</div>

				<!-- NEWS #2 -->
						<div class="img-hover">
							<a href="https://vancouverisland.ctvnews.ca/10-uvic-students-freed-after-getting-trapped-in-5th-floor-elevator-1.4790533" target="_blank">
								<%= image_tag("news-elevator2.jpeg", class: "img-fluid h-200", alt: "Picture #2 of recent elevator-related news") %>
							</a>
							<h4 class="text-left mt-20"><a href="https://vancouverisland.ctvnews.ca/10-uvic-students-freed-after-getting-trapped-in-5th-floor-elevator-1.4790533">Students Trapped In Elevator</a></h4>
							<p class="justify">In what might be a nightmare scenario for some, 10 students at the University of Victoria were stuck in an elevator on campus...</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									30th Jan 2020
								</li>
							</ul>
						</div>

				<!-- NEWS #3 -->
						<div class="img-hover">
							<a href="https://www.kamloopsthisweek.com/news/dual-elevator-breakdown-at-rih-a-very-very-rare-occurrence-1.24057919" target="_blank">
								<%= image_tag("news-elevator3.jpeg", class: "img-fluid h-200", alt: "Picture #3 of recent elevator-related news") %>
							</a>
							<h4 class="text-left mt-20"><a href="https://www.kamloopsthisweek.com/news/dual-elevator-breakdown-at-rih-a-very-very-rare-occurrence-1.24057919">Dual Elevator Breakdown</a></h4>
							<p class="justify">Broken elevators in the Clinical Services Building at Royal Inland Hospital have led to major changes to access and parking at...</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									21st Jan 2020
								</li>
							</ul>
						</div>

				<!-- NEWS #4 -->
						<div class="img-hover">
							<a href="https://www.bloomberg.com/opinion/articles/2020-01-29/blackstone-and-cvc-get-into-a-giant-thyssenkrupp-elevator-fight" target="_blank">
								<%= image_tag("news-elevator4.jpeg", class: "img-fluid h-200", alt: "Picture #4 of recent elevator-related news") %>
							</a>
							<h4 class="text-left mt-20"><a href="https://www.bloomberg.com/opinion/articles/2020-01-29/blackstone-and-cvc-get-into-a-giant-thyssenkrupp-elevator-fight">Thyssenkrupp's Auction</a></h4>
							<p class="justify">Private equity firms are having to adopt divergent strategies to get a piece of Europe’s hottest M&A deal. Ambition and...</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2020
								</li>
							</ul>
						</div>

				<!-- NEWS #5 -->
						<div class="img-hover">
							<a href="https://buchtelite.com/39830/showcase/elevator-malfunction-left-me-trapped-in-kolbe-hall-for-almost-4-hours/" target="_blank">
								<%= image_tag("news-elevator5.jpeg", class: "img-fluid h-200", alt: "Picture #5 of recent elevator-related news") %>
							</a>
							<h4 class="text-left mt-20"><a href="https://buchtelite.com/39830/showcase/elevator-malfunction-left-me-trapped-in-kolbe-hall-for-almost-4-hours/">Elevator Malfunction</a></h4>
							<p class="justify">Going into the first two weeks of my last semester as an undergraduate student at The University of Akron, I thought the...</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									30th Jan 2020
								</li>
							</ul>
						</div>

				<!-- NEWS #6 -->
						<div class="img-hover">
							<a href="https://www.saltwire.com/news/shafted-elevator-builder-gets-his-job-back-after-accusation-of-being-high-on-the-job-400723/?location=amherstcumberland-county" target="_blank">
								<%= image_tag("news-elevator6.jpeg", class: "img-fluid h-200", alt: "Picture #6 of recent elevator-related news") %>
							</a>
							<h4 class="text-left mt-20"><a href="https://www.saltwire.com/news/shafted-elevator-builder-gets-his-job-back-after-accusation-of-being-high-on-the-job-400723/?location=amherstcumberland-county">Elevator Builder Slacked</a></h4>
							<p class="justify">A grievance concerning an elevator builder accused of being high on the job turned out to be an open and shut case. Ryan Prime was...</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									21st Jan 2020
								</li>
							</ul>
						</div>

					</div>

				</div>
			</section>
			
<!-- CLIENTS SECTION -->

			<section id="clients" class="alternate">
				<div class="container">
					<div class="heading-title heading-dotted text-center">
						<h2>Our Clients</h2>
					</div>

				<!-- CUSTOMER LOGO #1 -->
					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.walmart.com" target="_blank">
								<%= image_tag("customerlogo1.jpeg", class: "img-fluid w-200 h-80", alt: "Customer logo #1") %>
							</a>
						</li>

				<!-- CUSTOMER LOGO #2 -->
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.amazon.com" target="_blank">
								<%= image_tag("customerlogo2.jpeg", class: "img-fluid w-200 h-80", alt: "Customer logo #2") %>
							</a>
						</li>

				<!-- CUSTOMER LOGO #3 -->
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.google.com" target="_blank">
								<%= image_tag("customerlogo3.jpeg", class: "img-fluid w-200 h-80", alt: "Customer logo #3") %>
							</a>
						</li>

				<!-- CUSTOMER LOGO #4 -->
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.subway.com" target="_blank">
								<%= image_tag("customerlogo4.jpeg", class: "img-fluid w-200 h-80", alt: "Customer logo #4") %>
							</a>
						</li>

				<!-- CUSTOMER LOGO #5 -->
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.microsoft.com" target="_blank">
								<%= image_tag("customerlogo5.jpeg", class: "img-fluid w-200 h-80", alt: "Customer logo #5") %>
							</a>
						</li>

				<!-- CUSTOMER LOGO #6 -->
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.samsung.com" target="_blank">
								<%= image_tag("customerlogo6.jpeg", class: "img-fluid w-200 h-80", alt: "Customer logo #6") %>
							</a>
						</li>

				<!-- CUSTOMER LOGO #7 -->
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.costco.com" target="_blank">
								<%= image_tag("customerlogo7.jpeg", class: "img-fluid w-200 h-80", alt: "Customer logo #7") %>
							</a>
						</li>

				<!-- CUSTOMER LOGO #8 -->
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.coca-cola.com" target="_blank">
								<%= image_tag("customerlogo8.jpeg", class: "img-fluid w-200 h-80", alt: "Customer logo #8") %>
							</a>
						</li>

				<!-- CUSTOMER LOGO #9 -->
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.nike.com" target="_blank">
								<%= image_tag("customerlogo9.jpeg", class: "img-fluid w-200 h-80", alt: "Customer logo #9") %>
							</a>
						</li>

				<!-- CUSTOMER LOGO #10 -->
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.intel.com" target="_blank">
								<%= image_tag("customerlogo10.jpeg", class: "img-fluid w-200 h-80", alt: "Customer logo #10") %>
							</a>
						</li>

				<!-- CUSTOMER LOGO #11 -->
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.ikea.com" target="_blank">
								<%= image_tag("customerlogo11.jpeg", class: "img-fluid w-200 h-80", alt: "Customer logo #11") %>
							</a>
						</li>


				<!-- CUSTOMER LOGO #12 -->
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.sony.com" target="_blank">
								<%= image_tag("customerlogo12.jpeg", class: "img-fluid w-200 h-80", alt: "Customer logo #12") %>
							</a>
						</li>
					</ul>
				</div>
			</section>


<!-- CONTACT SECTION -->



<section id="contact">
	<div class="container">
		<header class="text-center">
			<h2>Contact Us</h2>
			<hr />
		</header>

		<div class="row">

			<!-- FORM -->
			<div class="col-md-8 col-sm-8">
				<h3>Feel free to write to us for anything!</h3>

				<!-- Alert Success -->
				<div id="alert_success" class="alert alert-success mb-30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>Thank You!</strong> Your message successfully sent!
				</div><!-- /Alert Success -->

				<!-- Alert Failed -->
				<div id="alert_failed" class="alert alert-danger mb-30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>[SMTP] Error!</strong> Internal server error!
				</div><!-- /Alert Failed -->

				<!-- Alert Mandatory -->
				<div id="alert_mandatory" class="alert alert-danger mb-30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
				</div><!-- /Alert Mandatory -->

	<!-- CONTACT TEXT BOXES -->
				<form action="/leads" method="post" enctype="multipart/form-data" id="formreceive">
					<div id="formElementsToInjectInTabs">
					
						<input type="hidden" name="action" value="contact_send" />
						<div class="row">

						<!-- FULL NAME -->
							<div class="col-md-4">
								<label for="leads:name">Full Name *</label>
								<input required type="text" value="" class="form-control" name="leads[name]" id="leads:name">
							</div>

						<!-- PHONE NUMBER -->
							<div class="col-md-4">
								<label for="leads:phone">Phone Number *</label>
								<input required type="tel" value="" pattern="\d{3}[\-]\d{3}[\-]\d{4}" required class="form-control" name="leads[phone]" id="leads:phone">
							</div>

						<!-- E-MAIL ADDRESS -->
							<div class="col-md-4">
								<label for="leads:email">E-mail Address *</label>
								<input required type="email" value="" class="form-control" name="leads[email]" id="leads:email">
							</div>
						</div>

						<div class="row">
								
						<!-- BUSINESS NAME -->
							<div class="col-md-4">
								<label for="leads:businessname">Business Name</label>
								<input type="text" value="" class="form-control" name="leads[businessname]" id="leads:businessname">
							</div>
						
						<!-- PROJECT NAME -->
							<div class="col-md-4">
								<label for="leads:projectname">Project Name</label>
								<input type="text" value="" class="form-control" name="leads[projectname]" id="leads:projectname">
							</div>

						<!-- DEPARTMENT -->
							<div class="col-md-4">
								<label for="leads_department">Department *</label>
								<select required class="form-control pointer" name="leads[department]">
									<option value="">--- Select ---</option>
									<option value="Billing">Billing</option>
									<option value="Residential">Residential</option>
									<option value="Commercial">Commercial</option>
									<option value="Corporate">Corporate</option>
									<option value="Hybrid">Hybrid</option>
								</select>
							</div>
						</div>

						<div class="row">

						<!-- PROJECT DESCRIPTION -->
							<div class="col-md-6">
								<label for="leads:description">Project Description</label>
								<textarea maxlength="10000" rows="4" class="form-control" name="leads[description]" id="leads:description"></textarea>
							</div>

						<!-- MESSAGE  -->
							<div class="col-md-6">
								<label for="leads:message">Message *</label>
								<textarea required maxlength="10000" rows="4" class="form-control" name="leads[message]" id="leads:message"></textarea>
							</div>
						</div>

						<!-- FILE ATTACHMENT -->
						<div class="row">
							<div class="col-md-12">
								<label for="contact:attachment">File Attachment</label>
			

								<!-- custom file upload -->
								<input class="custom-file-upload" type="file" id="file" name="leads[attachment]" id="leads:attachment" data-btn-text="Select a File" />
								<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>
							</div>

						</div>
				
					</div>
				</form>		
				<!-- SEND MESSAGE -->
					<div class="row">
						<div class="col-md-12">
							<button type="submit" id="submitform" class="btn-colored-message"><i class="fa fa-check"></i> SEND MESSAGE</button>
						</div>
						<script type="text/javascript">
							$(document).ready(function() {
								$("#submitform").click(function() {
									$("#formreceive").submit();
								});
							});
						</script>
					</div>
			</div>	
		
			<!-- INFO -->
			<div class="col-md-4 col-sm-4">

				<h2>Visit Us</h2>

			<!-- GOOGLE MAP EMBED-->	
				<div class="mapouter"><div class="gmap_canvas"><iframe width="400" height="430" id="gmap_canvas" src="https://maps.google.com/maps?q=418-725%20Boulevard%20Lebourgneuf%2C%20Qu%C3%A9bec%2C%20QC%20G2J%200C4&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{position:relative;text-align:right;height:430px;width:400px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:400px;}</style></div>
				<hr />

			<!-- CODEBOXX CONTACT INFO-->
				<p>
					<span class="block w-400"><strong><i class="fa fa-map-marker"></i> Address:</strong> 418-725 Blvd. Lebourgneuf, QC, CA</span>
					<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:581-701-0303">(581) 701-0303</a></span>
					<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
				</p>
			</div>
		</div>
	</div>
</section>

<!-- FOOTER SECTION -->
		
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3" style="">
							<%= image_tag("logo.jpeg", class: "img-footer-logo", alt: "Rocket Elevator's Logo") %>
						</div>
						<div class="col-md-9 mt-4 justify">
							<!-- Small Description -->
							<p style="border-left: 1.4px solid #000000;height: 5em;padding-right: 60px;padding-left: 60px; font-size:1.1em;"> 
								Our clients are at the heart of what we do. Our client care advisors are appreciated by our clients all over the world. 
								Every day, our counsellors strive to meet our clients’ requirements in the best possible manner. Our international 
								offices allow us to provide answers to your queries in real time, irrespective of your current geographical location.
							</p>
						</div>
					</div>

				<div class="copyright p-15">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li> <%= link_to 'Terms & Conditions'.html_safe, tos_path %></li>
							<li>&bull;</li>
							<li> <%= link_to 'Privacy'.html_safe, privacy_path %></li>
						</ul>
						&copy; All Rights Reserved, Company LTD
					</div>
				</div>
			</footer>

		</div>

		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>

		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->

	</body>
</html>