<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
		<title>Rocket Elevators</title>
		<meta name="description" content="Projet Genesis" />
		<meta name="Author" content="David Amyot" />
	</head>

	<body class="smoothscroll enable-animation">
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
                        <%= link_to index_path, class: "logo float-left" do %><%= image_tag("logo.jpeg", alt: "Rocket Elevators Logo")%><% end %>


						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

                            <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                            <!-- HOME -->
                                <li class="active"> <%= link_to 'HOME'.html_safe, index_path %> </li>
                            <!-- SERVICES -->
                                <li> <%= link_to 'SERVICES'.html_safe, index_path(anchor: "services") %> </li>
                            <!-- PORTFOLIO -->
                                <li class="nav-item dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> PORTFOLIO </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item"><%= link_to 'Overview'.html_safe, index_path(anchor: "portfolio") %></li>
                                        <li class="dropdown-item divider"></li>
                                        <li class="dropdown-item"><%= link_to 'Residential Projects'.html_safe, anchor: "portfolio_residential" %></li>
                                        <li class="dropdown-item divider"></li>
                                        <li class="dropdown-item"><%= link_to 'Corporate Projects'.html_safe, corporate_path %></li>
                                    </ul>
                                </li>
                            <!-- NEWS -->
                                <li> <%= link_to 'NEWS'.html_safe, index_path(anchor: "news") %> </li>
                            <!-- CLIENTS -->
                                <li> <%= link_to 'CLIENTS'.html_safe, index_path(anchor: "clients") %> </li>
                            <!-- SUBMISSION FORM -->
								<li> <%= link_to 'SUBMISSION'.html_safe, submissionform_path %></li>
                            <!-- CONTACT -->
                                <li> <%= link_to 'CONTACT'.html_safe, anchor: "contact" %> </li>
							<!-- CONNECT -->
								<!-- CONNECT -->
								<% if !current_user %>
									<li><%= link_to "LOGIN", new_user_session_path %></li>
									<li><%= link_to "SIGN UP", new_user_registration_path %></li>
								<% elsif current_user.has_role? :admin %>
									<li><%= link_to "ADMIN PANEL", rails_admin_path %> </li>
									<li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
								<% elsif current_user.has_role? :employee %>
									<li><%= link_to "ADMIN PANEL", rails_admin_path %> </li>
									<li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
								<% else %>
									<li><%= link_to "PROFILE", edit_user_registration_path %></li>
									<li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
								<% end %>
                            </ul>
                        </nav>
						</div>

					</div>
				</header>
			</div>






<!-- MESSAGE -->
			<!-- RIBBON -->
			<section class="parallax parallax-1" style="background-image: url(<%= asset_path "ribbon.jpeg" %>)">
				<div class="overlay dark-3"></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-600 mt-200 mb-200"><i><b>Your message has been successfully sent!</i></h2>
					</div>
				</div>
			</section>

            



<!-- FOOTER SECTION -->
		
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-4" style="padding-right: 60px;padding-left: 60px;">
							<%= image_tag("logo.jpeg", class: "img-footer-logo", alt: "Rocket Elevator's Logo") %>
						</div>
						<div class="col-md-8 mt-4 justify">
							<!-- Small Description -->
							<p style="border-left: 1.4px solid #000000;height: 5em;padding-right: 60px;padding-left: 60px;"> 
								Our clients are at the heart of what we do. Our client care advisors are appreciated by our clients all over the world. 
								Every day, our counsellors strive to meet our clients’ requirements in the best possible manner. Our international 
								offices allow us to provide answers to your queries in real time, irrespective of your current geographical location.
							</p>
						</div>
					</div>

				<div class="copyright p-15">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li> <%= link_to 'Terms & Conditions'.html_safe, tos_path %></li>
							<li>&bull;</li>
							<li> <%= link_to 'Privacy'.html_safe, privacy_path %></li>
						</ul>
						&copy; All Rights Reserved, Company LTD
					</div>
				</div>
			</footer>

		</div>

		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>

		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->

	</body>
</html>