<html lang="en">
<head>
  <meta charset="utf-8" />
    <title>Map Google</title>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin', type: 'text/css', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />
    <!-- THEMES --> 
    <%= stylesheet_link_tag "essentials" %>
    <%= stylesheet_link_tag "layout" %>
    <%= stylesheet_link_tag "header-1" %>
    <%= stylesheet_link_tag "yellow" %>
    <%= stylesheet_link_tag "david" %>
    <meta name="description" content="Projet Genesis" />
    <meta name="Author" content="David Amyot" />
    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  </head>
  <body class="smoothscroll enable-animation font-roboto">
    <div id="wrapper">
      <div id="header" class="navbar-toggleable-md sticky header-md clearfix">
        <!-- TOP NAV -->
        <header id="topNav">
          <div class="container">
            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
              <i class="fa fa-bars"></i>
            </button>
            <!-- Logo -->
            <a class="logo float-left scrollTo" href="#top"> <%= image_tag("logo.jpeg", alt: "Rocket Elevators Logo") %> </a>
              
            <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
              <nav class="nav-main">
                <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                  <!-- HOME -->
                    <li class="active"> <%= link_to 'HOME'.html_safe, index_path %> </li>
                  <!-- SERVICES -->
                    <li> <%= link_to 'SERVICES'.html_safe, index_path(anchor: "services") %> </li>
                  <!-- SUBMISSION FORM -->
                    <li> <%= link_to 'SUBMISSION'.html_safe, submissionform_path %></li>
                  <!-- CONTACT -->
                    <li> <%= link_to 'CONTACT'.html_safe, index_path(anchor: "contact") %> </li>
                  <!-- CONNECT -->
                  <% if !current_user %>
                    <li><%= link_to "LOGIN", new_user_session_path %></li>
                    <li><%= link_to "SIGN UP", new_user_registration_path %></li>
                  <% elsif current_user.has_role? :admin %>
                    <li><%= link_to "ADMIN PANEL", rails_admin_path %> </li>
                    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
                  <% elsif current_user.has_role? :employee %>
                    <li><%= link_to "ADMIN PANEL", rails_admin_path %> </li>
                    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
                  <% else %>
                    <li><%= link_to "PROFILE", edit_user_registration_path %></li>
                    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
                  <% end %>
                </ul>
              </nav>
            </div>
          </div>
        </header>
      </div>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        // Create a new StyledMapType object, passing it an array of styles,
        // and the name to be displayed on the map type control.
        var styledMapType = new google.maps.StyledMapType(
            [
              {elementType: 'geometry', stylers: [{color: '#ebe3cd'}]},
              {elementType: 'labels.text.fill', stylers: [{color: '#523735'}]},
              {elementType: 'labels.text.stroke', stylers: [{color: '#f5f1e6'}]},
              {
                featureType: 'administrative',
                elementType: 'geometry.stroke',
                stylers: [{color: '#c9b2a6'}]
              },
              {
                featureType: 'administrative.land_parcel',
                elementType: 'geometry.stroke',
                stylers: [{color: '#dcd2be'}]
              },
              {
                featureType: 'administrative.land_parcel',
                elementType: 'labels.text.fill',
                stylers: [{color: '#ae9e90'}]
              },
              {
                featureType: 'landscape.natural',
                elementType: 'geometry',
                stylers: [{color: '#dfd2ae'}]
              },
              {
                featureType: 'poi',
                elementType: 'geometry',
                stylers: [{color: '#dfd2ae'}]
              },
              {
                featureType: 'poi',
                elementType: 'labels.text.fill',
                stylers: [{color: '#93817c'}]
              },
              {
                featureType: 'poi.park',
                elementType: 'geometry.fill',
                stylers: [{color: '#a5b076'}]
              },
              {
                featureType: 'poi.park',
                elementType: 'labels.text.fill',
                stylers: [{color: '#447530'}]
              },
              {
                featureType: 'road',
                elementType: 'geometry',
                stylers: [{color: '#f5f1e6'}]
              },
              {
                featureType: 'road.arterial',
                elementType: 'geometry',
                stylers: [{color: '#fdfcf8'}]
              },
              {
                featureType: 'road.highway',
                elementType: 'geometry',
                stylers: [{color: '#f8c967'}]
              },
              {
                featureType: 'road.highway',
                elementType: 'geometry.stroke',
                stylers: [{color: '#e9bc62'}]
              },
              {
                featureType: 'road.highway.controlled_access',
                elementType: 'geometry',
                stylers: [{color: '#e98d58'}]
              },
              {
                featureType: 'road.highway.controlled_access',
                elementType: 'geometry.stroke',
                stylers: [{color: '#db8555'}]
              },
              {
                featureType: 'road.local',
                elementType: 'labels.text.fill',
                stylers: [{color: '#806b63'}]
              },
              {
                featureType: 'transit.line',
                elementType: 'geometry',
                stylers: [{color: '#dfd2ae'}]
              },
              {
                featureType: 'transit.line',
                elementType: 'labels.text.fill',
                stylers: [{color: '#8f7d77'}]
              },
              {
                featureType: 'transit.line',
                elementType: 'labels.text.stroke',
                stylers: [{color: '#ebe3cd'}]
              },
              {
                featureType: 'transit.station',
                elementType: 'geometry',
                stylers: [{color: '#dfd2ae'}]
              },
              {
                featureType: 'water',
                elementType: 'geometry.fill',
                stylers: [{color: '#b9d3c2'}]
              },
              {
                featureType: 'water',
                elementType: 'labels.text.fill',
                stylers: [{color: '#92998d'}]
              }
            ],
            {name: 'Styled Map'});
        // Create a map object, and include the MapTypeId to add
        // to the map type control.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 36.249523, lng: -113.7016613},
          zoom: 4,
          mapTypeControlOptions: {
            mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain',
                    'styled_map']
          }
        });
        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('styled_map', styledMapType);
        map.setMapTypeId('styled_map');
        <% @buildings.all.each do |b|%>
        console.log("*****************************************************");
        var labelIndex = <%=b.id%>+<%=b.id%>;
        var localisation = {lat:<%= b.adress.latitude %>, lng:<%= b.adress.longitude %>};
        var marker = new google.maps.Marker({
          position: localisation,
          map: map
          });
          <% nbcol = 0 %>
          <% nbelev = 0 %>
          <% b.batteries.all.each do |ba|%>
            <% nbcol = nbcol + ba.columns.length%>
            <% ba.columns.all.each do |co|%>
              <% nbelev = nbelev + co.elevators.length%>
            <% end %>
          <% end %>
      var contentString = '<div>'+
      '<p>Building id :<%=b.id%></p>'+
      '<p>Company Name :<%=b.customer.company_name%>, Contact : <%=b.technical_contact_fullname%></p>'+
      '<p><b>Qty batteries : </b><%=b.batteries.length%></p>'+
      '<p><b>Qty columns : </b><%=nbcol%></p>'+
      '<p><b>Qty elevators : </b><%=nbelev%></p>'+
      '</div>';
      marker.infowindow = new google.maps.InfoWindow({
            content: contentString
            });
      marker.addListener('click', function() {
          this.infowindow.open(map, this);
      });
<% end %>} 
    </script>
    
       <%= javascript_include_tag "//maps.google.com/maps/api/js?key=#{ENV['MAP_KEY']}"%>
  
  </body>
</html>