<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
    <title>Rocket Elevators</title>
    <meta name="description" content="Projet Genesis" />
    <meta name="Author" content="David Amyot" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

</head>

<body class="smoothscroll enable-animation pagesubmissionForm">
    <div id="wrapper">

        <div id="header" class="navbar-toggleable-md sticky header-md clearfix">

            <!-- TOP NAV -->
            <header id="topNav">
                <div class="container">

                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Logo -->
                        <%= link_to index_path, class: "logo float-left" do %><%= image_tag("logo.jpeg", alt: "Rocket Elevators Logo")%><% end %>

                    <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                        <nav class="nav-main">

                            <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                            <!-- HOME -->
                                <li class="active"> <%= link_to 'HOME'.html_safe, index_path %> </li>
                            <!-- SERVICES -->
                                <li> <%= link_to 'SERVICES'.html_safe, index_path(anchor: "services") %> </li>
                            <!-- PORTFOLIO -->
                                <li class="nav-item dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> PORTFOLIO </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item"><%= link_to 'Overview'.html_safe, index_path(anchor: "portfolio") %></li>
                                        <li class="dropdown-item divider"></li>
                                        <li class="dropdown-item"><%= link_to 'Residential Projects'.html_safe, residential_path %></li>
                                        <li class="dropdown-item divider"></li>
                                        <li class="dropdown-item"><%= link_to 'Corporate Projects'.html_safe, corporate_path %></li>
                                    </ul>
                                </li>
                            <!-- NEWS -->
                                <li> <%= link_to 'NEWS'.html_safe, index_path(anchor: "news") %> </li>
                            <!-- CLIENTS -->
                                <li> <%= link_to 'CLIENTS'.html_safe, index_path(anchor: "clients") %> </li>
                            <!-- SUBMISSION FORM -->
                                <li> <%= link_to 'SUBMISSION'.html_safe, anchor: "submission" %> </li>
                            <!-- CONTACT -->
                                <li> <%= link_to 'CONTACT'.html_safe, anchor: "contact" %> </li>
                            <!-- CONNECT -->
                                <% if !current_user %>
                                    <li><%= link_to "LOGIN", new_user_session_path %></li>
                                    <li><%= link_to "SIGN UP", new_user_registration_path %></li>
                                <% elsif current_user.has_role? :admin %>
                                    <li><%= link_to "ADMIN PANEL", rails_admin_path %> </li>
                                    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
                                <% elsif current_user.has_role? :employee %>
                                    <li><%= link_to "ADMIN PANEL", rails_admin_path %> </li>
                                    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
                                <% else %>
                                    <li><%= link_to "PROFILE", edit_user_registration_path %></li>
                                    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
                                <% end %>
                                
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        </div>

        <section class="parallax parallax-1" style="background-image: url(<%= asset_path "ribbon.jpeg" %>)">
            <div class="overlay dark-5"></div>

            <div class="container">

                <div class="text-center">
                    <h2 class="fs-40 fw-300"><i><b>Rocket Elevators</i></b>, delivering the highest quality since 1982.</h2>
                    <a class="btn btn-warning btn-lg btn-colored-primary" href="#contact">CONTACT US &nbsp; <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </section>
<!-- INTERVENTION FORM -->


            <div class="heading-title heading-dotted text-center">
                <h2>Intervention Form</h2>
            </div>
			<%# <%= form_with(model: intervention, local: true) do %> 
			<div class="container">
			<div class="row">
			<div class="col-md-4"><%= collection_select(:intervention, :user_id, Customer.order(:company_name), :id, :company_name,  {prompt: 'Select customer'} ) %></div>
			 <div class="col-md-4"><%= collection_select(:intervention, :building_name, Building.order(:user_id), :id, :user_id, { prompt: 'Select Building'} ) %></div>	
    		<div class="col-md-4"><%= collection_select(:intervention, :battery_id, Battery.order(:building_id), :id, :building_id, { prompt: 'Select Battery' } ) %></div>
			<div class="container">
			<div class="row">
    		<div class="col-md-4"><%= collection_select(:intervention, :column_id, Column.order(:battery_id), :id, :battery_id, { prompt: 'Select Column' } ) %></div>
			<div class="col-md-4"><%= collection_select(:intervention, :elevator_id, Elevator.order(:column_id), :id, :column_id, { prompt: 'Select Elevator'} ) %></div>
			<div class="col-md-4"><%= collection_select(:intervention, :employee_id, Employee.order(:firstName), :id, :name, { prompt: 'Select Employee'} ) %></div>
			    <strong>Description<strong><br>
    <div class="col-md-20">
      <div class="control-group">
        <div class="controls">
        <textarea required maxlength="50" rows="5" class="form-control" name="intervention[report]" id="intervention:message"></textarea> 
          </div>
        </div>
      </div>
	  



    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>


    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div><!-- /PRELOADER -->

    <!-- JAVASCRIPT FILES -->
    <%= javascript_include_tag "plugins/jquery/jquery-3.3.1.min" %>
    <%= javascript_include_tag "plugins/jquery/jquery.formatCurrency-1.4.0" %>

    

    <!-- THE JQUERY FORM -->
    <%= javascript_include_tag "submissionform" %>

</body>
</html>

